.about_container,
.about_section {
    max-width: 90vw;
    margin: 0 auto;
}

.about_section {
    padding-top: 10%;
    margin-bottom: 5%;
}

.about_main h1 {
    font-family: 'Kumbh Sans';
    font-size: 32px;
    font-weight: 500;
    line-height: 39.69px;
    text-align: left;
    color: #1A1A1A;
}

.about-member {
    display: flex;
    margin-bottom: 40px;
    margin-top: 50px;
    gap: 20px;
}

.team-member-info {
    gap: 40px;
    margin-top: 50px;
    margin-left: 30px;
}

.team-member-img img {
    background-color: #F5ECD1;
}

.team-member-quote {
    font-family: 'Satoshi';
    font-style: italic;
    font-size: 24px;
    max-width: 620px;
    height: auto;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: #1A1A1A;
}

.team-member-name {
    font-family: 'Kumbh Sans';
    font-size: 24px;
    font-weight: 600;
    line-height: 29.77px;
    text-align: left;
    color: #1A1A1A;
    margin-top: 30px;
}


.team_memberss {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10%;
    margin-top: 6%;
    flex-wrap: wrap;
}

.team_members h3 {
    font-family: 'Kumbh Sans';
    font-size: 24px;
    font-weight: 600;
    line-height: 29.77px;
    text-align: left;
    color: #1A1A1A;
    margin-top: 20px;
}

.team-member-role,
.about_main p,
.team_members p {
    font-family: 'Kumbh Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: left;
    color: #888888;
    margin-top: 5px;
}

.team-member-img img,
.team_members img,
.about_image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.about_image {
    text-align: center;
}


@media (max-width: 480px) {
    .about_container {
        max-width: 90vw;
        margin: 0 auto;
    }

    .about_section {
        padding-top: 20%;
        margin-bottom: 10%;
    }

    .about_main h1 {
        font-size: 20px;
        line-height: 30px;
    }

    .about_main p {
        font-size: 18px;
    }

    .team-member-img img {
        width: 70%;
        height: auto;
    }

    .team-member-quote {
        font-size: 16px;
        margin-top: 0px;
        line-height: 28px;
    }

    .team-member-name {
        font-size: 20px;
    }

    .team-member-role {
        font-size: 16px;
        margin-top: 0;
    }

    .about-member {
        flex-direction: column;
        text-align: left;
    }

    .team_members img {
        width: 70%;
        height: auto;
    }

    .team-member-info {
        margin-top: 20px;
        margin-left: 0;
    }

    .team_members h3 {
        font-size: 18px;
    }

    .team_members p {
        margin-top: 0;
        font-size: 16px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .about_container {
        max-width: 90vw;
        margin: 0 auto;
    }

    .about_section {
        margin-top: 20px;
        margin-bottom: 10%;
    }

    .team-member-quote {
        font-size: 18px;
        line-height: 24px;
        max-width: 600px;
        height: auto;
    }

    .team-member-name {
        font-size: 20px;
    }

    .team-member-role {
        font-size: 16px;
        margin-top: 0;
    }

    .team_memberss {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
    }

    .team_members img {
        width: 100%;
        height: auto;
    }

    .team_members h3 {
        font-size: 18px;
    }

    .team_members p {
        margin-top: 0;
        font-size: 16px;
    }
}
