.footer-container-section {
    background-color: #1A1A1A;
    width: 100%;
    align-items: center;
    text-align: center;
}

.footer-container {
    max-width: 90vw;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
}

.footer-project h2 {
    font-family: 'Kumbh Sans';
    height: 60px;
    size: 48px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 59.53px;
    text-align: center;


}

.footer-contact-btn {
    background-color: #FFFFFF;
    color: #1A1A1A;
    font-family: 'Kumbh Sans';
    font-weight: 500;
    font-size: 16px;
    border: 1px;
    width: 183px;
    height: 42px;
    padding: 11px 12px 11px 12px;
    gap: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.footer-contact {
    margin-top: 50px;
}

.footer-contact h2 {
    font-family: 'Satoshi';
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 900;
    line-height: 22.32px;
    align-items: center;
    letter-spacing: 3px;
    margin-bottom: 20px;
    letter-spacing: 0.34em;
    text-align: center;

}

.footer-contact h1 {
    font-family: 'Kumbh Sans';
    color: #FFFFFFCC;
    font-size: 18px;
    font-weight: 400;
    height: 118px;
    line-height: 22.32px;
    align-items: center;
    text-decoration-skip-ink: none;
    justify-content: center;

}

.footer-web {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-p p {
    color: #FFFFFF99;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    font-family: 'Kumbh Sans';
}


@media (max-width: 425px) and (min-width:320px) {
    .footer-project h2 {
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
    }

    .footer-connect-btn {
        font-size: 16px;
        padding: 8px 10px;
    }

    .footer-contact h2 {
        font-size: 14px;
        margin-top: 5%;
        margin-bottom: 10px;
    }

    .footer-contact h1 {
        font-size: 16px;
        line-height: 20px;
    }

    .footer-web {
        flex-direction: column;
        align-items: center;
    }

    .footer-p {
        margin-top: 5%;
    }

    .footer-p p {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width:1024px) {

    .footer-container {
        max-width: 90vw;
    }

    .footer-web {
        justify-content: space-between;
        margin-top: 20px;
    }

    .footer-contact h1 {
        font-size: 18px;
    }

    .footer-p p {
        font-size: 16px;
        font-weight: 400;
        display: flex;
        font-family: 'Kumbh Sans';
    }
}

/* model.css */

  
  .modal-container div, 
  .modal-container p, 
  .modal-container h1, 
  .modal-container h2 {
    text-align: left; /* Ensures alignment of child elements */
  }
  

  