/* Footer Container */
.footer-container {
    background-color: #3A3A38;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    align-items: center;
}

.footer-project h2 {
    font-family: 'Kumbh Sans';
    height: 60px;
    size: 48px;
    margin-top: 30px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 59.53px;
    text-align: center;


}

.footer-connect-btn {
    background-color: #FFFFFF;
    color: #1A1A1A;
    font-family: 'Kumbh Sans';
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    border: 1px;
    padding: 11px 12px;
}

.footer-contact {
    margin-top: 50px;
}

.footer-contact h2 {
    font-family: 'Satoshi';
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 900;
    line-height: 22.32px;
    align-items: center;
    letter-spacing: 3px;
    margin-bottom: 20px;    

}

.footer-contact h1 {
    font-family: 'Kumbh Sans';
    color: #FFFFFFCC;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.32px;
    align-items: center;
    justify-content: center;
    height: 118px;

}

.footer-web {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-p p {
    color: #FFFFFF99;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    font-family: 'Kumbh Sans';
}


@media (max-width: 425px) and (min-width:320px) {
    .footer-container {
        padding: 20px 10px;
    }

    .footer-project h2 {
        font-size: 21px;
        line-height: 30px;
        margin-top: 20px;
    }

    .footer-connect-btn {
        margin-top: 10px;
        font-size: 16px;
        padding: 8px 10px;
    }

    .footer-contact h2 {
        font-size: 14px;
        margin-top: 5%;
        margin-bottom: 10px;
    }

    .footer-contact h1 {
        font-size: 16px;
        line-height: 20px;
    }

    .footer-web {
        flex-direction: column;
        align-items: center;
    }

    .footer-p {
        margin-top: 5%;
    }

    .footer-p p {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width:1024px) {

    .footer-web {
        justify-content: space-between;
        margin-top: 20px;
    }
}